<!DOCTYPE html>
<html lang="ja">
  <head>
    <meata charset="urf-8">
    <title>sinatra test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <div class="container" syle="padding:20px 0">
    <h1>Sinatra Sample</h1>
    <%= yield %>
  </div>
  
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
